.navMenu {
  float: right;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #e76ddd;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;

  padding: 10px;
}

.navMenu a:hover {
  color: #c006b0;
}

.navMenu a:active {
  text-decoration: dotted;
  color: #c006b0;
}
