.header {
  -webkit-text-fill-color: rgb(230, 42, 183);
  padding: 10px 16px;
  position: fixed;
  left: 5%;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
